<a href="https://colab.research.google.com/github/cnyakundi/data_science_project_1/blob/master/sql_project/Moringa_Data_Science_Prep_W1_Independent_Project_2021_07_Cyprian_Nyakundi_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Loading the sql extension and connecting to the database
%load_ext sql

%sql sqlite://

'Connected: @None'

In [ ]:
# Here we import the pandas library and CSV Library that we will use to open and manipulate our file

import csv 

import pandas as pd

In [ ]:
# We open the file 

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', 'r') as f:
  UgandaCropYield=pd.read_csv(f, index_col=0, encoding='utf-8')


%sql DROP TABLE IF EXISTS UgandaCropYield;
%sql PERSIST UgandaCropYield;

 * sqlite://
Done.
 * sqlite://

'Persisted ugandacropyield'

In [ ]:
#Display a list of Sub Counties and their population and areas.

%%sql 

SELECT  "SUBCOUNTY_NAME", "POP", Area 

FROM UgandaCropYield ;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
# Sort the list of districts by total crop area (descending order).

%%sql 

SELECT "DISTRICT_NAME" 

FROM UgandaCropYield  

ORDER BY "Crop_Area_Ha" DESC;

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAPAK',),
 ('KAABONG',),
 ('KAABONG',),
 ('AMUDAT',),
 ('MOROTO',),
 ('KAABONG',),
 ('MOROTO',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAPAK',),
 ('KOTIDO',),
 ('AMUDAT',),
 ('AMUDAT',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('NAPAK',),
 ('KAABONG',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('ABIM',),
 ('NAPAK',),
 ('ABIM',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('MOROTO',),
 ('AMUDAT',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('MOROTO',)]

In [ ]:
# Select only the Sub counties from the Moroto district, order them alphabetically 
# and show their production of sorghum.


%%sql 

SELECT "SUBCOUNTY_NAME"

FROM UgandaCropYield 

WHERE "DISTRICT_NAME" = "MOROTO"

ORDER BY "S_Prod_Tot" ASC;

 * sqlite://
Done.

[('NORTHERN DIVISION',),
 ('SOUTHERN DIVISION',),
 ('KATIKEKILE',),
 ('TAPAC',),
 ('RUPA',),
 ('NADUNGET',)]

In [ ]:
# Compute the total Maize production per District.

%%sql 

SELECT "DISTRICT_NAME", "M_Prod_Tot"

FROM UgandaCropYield

 * sqlite://
Done.

[('KOTIDO', 600723.8929),
 ('KOTIDO', 959201.3825),
 ('KOTIDO', 9991.488268000001),
 ('KOTIDO', 38971.65908),
 ('KOTIDO', 221609.5114),
 ('KOTIDO', 179681.139),
 ('KAABONG', 10181.201),
 ('KAABONG', 22772.636430000002),
 ('KAABONG', 59450.18942),
 ('KAABONG', 209806.09699999998),
 ('KAABONG', 392864.0158),
 ('KAABONG', 744375.6816),
 ('KAABONG', 976952.2116),
 ('KAABONG', 1412776.9819999998),
 ('KAABONG', 990983.0661),
 ('KAABONG', 61343.42645),
 ('KAABONG', 836095.3853),
 ('KAABONG', 201613.3805),
 ('KAABONG', 934881.6576),
 ('KAABONG', 136265.6835),
 ('ABIM', 306951.8167),
 ('ABIM', 299895.1917),
 ('ABIM', 446294.5944),
 ('ABIM', 322910.6857),
 ('ABIM', 288070.5968),
 ('AMUDAT', 1415591.549),
 ('AMUDAT', 788123.4753),
 ('AMUDAT', 1340672.952),
 ('AMUDAT', 2081.356199),
 ('MOROTO', 56404.03821),
 ('MOROTO', 41687.926510000005),
 ('MOROTO', 168139.0047),
 ('MOROTO', 46.22440465),
 ('MOROTO', 0.0),
 ('NAKAPIRIPIRIT', 963132.1158),
 ('NAKAPIRIPIRIT', 34961.59076),
 ('NAKAPIRIPIRIT', 4365057.517),
 ('NAKAPIRIPIRIT', 602917.1224),
 ('NAKAPIRIPIRIT', 803244.7393),
 ('NAKAPIRIPIRIT', 63990.504570000005),
 ('NAKAPIRIPIRIT', 93265.78063),
 ('NAPAK', 3354666.348),
 ('NAPAK', 1006139.305),
 ('NAPAK', 301833.0535),
 ('NAPAK', 39634.98127),
 ('NAPAK', 143401.6585),
 ('NAPAK', 291177.2726),
 ('NAPAK', 36017.149410000005),
 ('ABIM', 258010.2444),
 ('NAPAK', 414509.6206),
 ('MOROTO', 155838.875),
 ('NAKAPIRIPIRIT', 1198586.875)]

In [ ]:
# Compute the number of Sub counties where Maize is 
# produced and the total Maize production per District

%%sql 
SELECT "SUBCOUNTY_NAME", "M_Prod_Tot"

FROM UgandaCropYield 

WHERE "M_Prod_Tot" > 0;

 * sqlite://
Done.

[('KACHERI', 600723.8929),
 ('KOTIDO', 959201.3825),
 ('KOTIDO TOWN COUNCIL', 9991.488268000001),
 ('NAKAPERIMORU', 38971.65908),
 ('PANYANGARA', 221609.5114),
 ('RENGEN', 179681.139),
 ('KAABONG  EAST', 10181.201),
 ('KAABONG TOWN COUNCIL', 22772.636430000002),
 ('KAABONG WEST', 59450.18942),
 ('KALAPATA', 209806.09699999998),
 ('KAMION', 392864.0158),
 ('KAPEDO', 744375.6816),
 ('KATHILE', 976952.2116),
 ('KAWALAKOL', 1412776.9819999998),
 ('LOBALANGIT', 990983.0661),
 ('LODIKO', 61343.42645),
 ('LOLELIA', 836095.3853),
 ('LOYORO', 201613.3805),
 ('NAPORE (KARENGA)', 934881.6576),
 ('SIDOK', 136265.6835),
 ('ABIM', 306951.8167),
 ('ABIM TOWN COUNCIL', 299895.1917),
 ('ALEREK', 446294.5944),
 ('LOTUKEI', 322910.6857),
 ('MORULEM', 288070.5968),
 ('KARITA', 1415591.549),
 ('LOROO', 788123.4753),
 ('AMUDAT', 1340672.952),
 ('AMUDAT TOWN COUNCIL', 2081.356199),
 ('KATIKEKILE', 56404.03821),
 ('NADUNGET', 41687.926510000005),
 ('TAPAC', 168139.0047),
 ('NORTHERN DIVISION', 46.22440465),
 ('LOREGAE', 963132.1158),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 34961.59076),
 ('NAMALU', 4365057.517),
 ('KAKOMONGOLE', 602917.1224),
 ('LOLACHAT', 803244.7393),
 ('LORENGEDWAT', 63990.504570000005),
 ('NABILATUK', 93265.78063),
 ('IRIIRI', 3354666.348),
 ('LOPEEI', 1006139.305),
 ('LORENGECORA', 301833.0535),
 ('LOTOME', 39634.98127),
 ('MATANY', 143401.6585),
 ('NAPAK TOWN COUNCIL', 291177.2726),
 ('NGOLERIET', 36017.149410000005),
 ('NYAKWAE', 258010.2444),
 ('LOKOPO', 414509.6206),
 ('RUPA', 155838.875),
 ('MORUITA', 1198586.875)]

In [ ]:
# Compute the overall Crop area in all
#  Sub counties where population is over 20000.

%%sql 

SELECT  "SUBCOUNTY_NAME", "Crop_Area_Ha"

FROM UgandaCropYield

WHERE "POP" > 20000;

 * sqlite://
Done.

[('KOTIDO', 13587.990759999999),
 ('KOTIDO TOWN COUNCIL', 1656.5318550000002),
 ('NAKAPERIMORU', 7087.823334000001),
 ('PANYANGARA', 10398.24939),
 ('RENGEN', 13278.52043),
 ('KAABONG  EAST', 1021.31699),
 ('KAABONG TOWN COUNCIL', 175.08052659999998),
 ('KAABONG WEST', 967.3367266),
 ('KALAPATA', 2834.349905),
 ('KAMION', 997.1610206),
 ('KAPEDO', 2365.259806),
 ('KATHILE', 6890.699234000001),
 ('KAWALAKOL', 3934.432233),
 ('LOBALANGIT', 1890.248613),
 ('LODIKO', 401.7978207),
 ('LOLELIA', 2700.676313),
 ('NAPORE (KARENGA)', 1494.047587),
 ('SIDOK', 957.4939457999999),
 ('KARITA', 2513.27183),
 ('LOROO', 1539.401382),
 ('AMUDAT', 1651.99842),
 ('NADUNGET', 2480.1219),
 ('TAPAC', 1111.664207),
 ('LOREGAE', 5759.618906000001),
 ('NAMALU', 5793.5076229999995),
 ('LOLACHAT', 5079.779088),
 ('NABILATUK', 3276.653762),
 ('IRIIRI', 5473.443674),
 ('MATANY', 2990.847377),
 ('NGOLERIET', 1215.227445),
 ('LOKOPO', 6471.047334000001),
 ('RUPA', 2217.2907170000003)]

In [ ]:
# Sort the Maize production in descending order by 
# Districts, only taking into account Sub counties 
# where Maize area is larger than Sorghum area, 
# and display the number of Sub counties
#  per district matching that criteria.


%%sql 

SELECT "DISTRICT_NAME", "M_Prod_Tot", "SUBCOUNTY_NAME"

FROM UgandaCropYield

WHERE "M_Area_Ha" > "S_Area_Ha" ;

 * sqlite://
Done.

[('KAABONG', 392864.0158, 'KAMION'),
 ('KAABONG', 990983.0661, 'LOBALANGIT'),
 ('KAABONG', 934881.6576, 'NAPORE (KARENGA)'),
 ('AMUDAT', 1340672.952, 'AMUDAT'),
 ('MOROTO', 56404.03821, 'KATIKEKILE'),
 ('MOROTO', 168139.0047, 'TAPAC'),
 ('MOROTO', 46.22440465, 'NORTHERN DIVISION'),
 ('NAKAPIRIPIRIT', 34961.59076, 'NAKAPIRIPIRIT TOWN COUNCIL'),
 ('NAKAPIRIPIRIT', 4365057.517, 'NAMALU'),
 ('NAPAK', 3354666.348, 'IRIIRI'),
 ('NAPAK', 291177.2726, 'NAPAK TOWN COUNCIL'),
 ('NAKAPIRIPIRIT', 1198586.875, 'MORUITA')]